.main-conta {
  width: 100vw;
  min-height: 100vh;
  /* background-color: black;
  color: white; */
} 

/* HEADER */

.header-conta {
  width: 100vw;
  height: 10%;
  padding: 1.5rem;
  background-color: black;
  color: white;

}

h1 {
  font-size: 2.6rem;
  font-family: 'Poppins', serif;
  word-spacing: -5px;
}

.header-conta p {
  margin-top: 0.5rem;
  letter-spacing: 0.05em;
}

/* .date {
  font-weight: bold;
} */

/* TASKS */

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  /* z-index: 0;  */
  /* background:black; */
  background:rgba(0,0,0,0.8);
  /* backdrop-filter: blur(50px); */
  opacity: 0.85;
}

.tasks-conta {
  width: 100vw;
  /* height: 100vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border-radius: 10px;
} 

.list-conta {
  width: 90%;
}

.task, .sub-task {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top:2.5px;
  box-shadow: 2px 2.5px 2.5px grey;
}

.task {
  width: 100%;
}

.sub-task {
  width: 95%;
  margin-left: auto;
  /* margin-right: 0; */
}

.task-field, .sub-task-field {
  background-color: transparent;
  border: 0;
  font-family:  'Montserrat', sans-serif;
}

.task-field:focus, .sub-task-field:focus {
  outline: none;
}

.task-field {
  font-size: 16px;
  font-weight: 500;
}

.sub-task-field {
  font-size: 14px;

}

.task-menu {
  width: 25%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 0.8rem;
}

.task-menu button {
  font-size: 14px;
}

.task-menu button:hover {
  transform: scale(1.50);
}

/* ADDTASKBUTTON */

.add-task-btn-conta {
  width: 100vw;
  height: 100vh; 
} 

.add-task-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 2em;
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -35px;
  color: white;
  background-color: black;
}

.add-task-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.add-task-btn:active {
  transform: scale(1.25);
}

.input-task, .input-subtask {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: black;
}

.input-task {
  position: fixed;
  bottom: 15%;
  left: 50%;
  margin-left: -175px;
}

/* ADDSUBTASKBUTTON */

.input-subtask {
  position: absolute; 
  top: 18%;
  right: 15%;
  z-index: 1;
}

/* OTHERS */

input {
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}
